[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-model-utils = ">=2.0"
invoke = "*"
twine = "*"
"zest.releaser" = "*"
coverage = "==4.4.1"
mock = ">=1.0.1"
flake8 = ">=2.1.0"
tox = ">=1.7.0"
codecov = ">=2.0.0"
bumpversion = "*"

[requires]
python_version = "3.8"
